force-app/main/default/flows/Create_Top_10_Campaign_Members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <collectionProcessors>
        <name>Filter_Bots</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Bots</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference
    >currentItem_Filter_Bots</assignNextValueToReference>
        <collectionProcessorType
    >FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Opps</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference
      >currentItem_Filter_Bots.Main_Product_Category__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>BT</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Top_10_Bots_Opps</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Generators</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Generators</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference
    >currentItem_Filter_Generators</assignNextValueToReference>
        <collectionProcessorType
    >FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Opps</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference
      >currentItem_Filter_Generators.Main_Product_Category__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>GC</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Top_10_Generator_Opps</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Top_10_Bots_Opps</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Top 10 Bots Opps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionProcessorType
    >SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Filter_Bots</collectionReference>
        <connector>
            <targetReference>Transform_Bots_Contacts_to_CMs</targetReference>
        </connector>
        <limit>10</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst
      >false</doesPutEmptyStringAndNullFirst>
            <sortField>Amount</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Top_10_Generator_Opps</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Top 10 Generator Opps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionProcessorType
    >SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Filter_Generators</collectionReference>
        <connector>
            <targetReference
      >Transform_Generator_Contacts_to_CMs</targetReference>
        </connector>
        <limit>10</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst
      >false</doesPutEmptyStringAndNullFirst>
            <sortField>Amount</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>What_Product_Campaign_Type</name>
        <label>What Product Campaign Type?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Generators</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Campaign_Details.Product_Campaign_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Generators</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Generators</targetReference>
            </connector>
            <label>Generators</label>
        </rules>
        <rules>
            <name>Bots</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Campaign_Details.Product_Campaign_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bots</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Bots</targetReference>
            </connector>
            <label>Bots</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel
  >Create Top 10 Campaign Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Top 10 Campaign Members</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Bots_CMs</name>
        <label>Create Bots CMs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Transform_Bots_Contacts_to_CMs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Generator_CMs</name>
        <label>Create Generator CMs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Transform_Generator_Contacts_to_CMs</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign_Details</name>
        <label>Get Campaign Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opps</name>
        <label>Get Opps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_Product_Campaign_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Campaign_Details</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <transforms>
        <name>Transform_Bots_Contacts_to_CMs</name>
        <label>Transform Bots Contacts to CMs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Bots_CMs</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>CampaignMember</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>ContactId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference
          >Filter_Bots[$EachItem].ContactId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>CampaignId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_Generator_Contacts_to_CMs</name>
        <label>Transform Generator Contacts to CMs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Generator_CMs</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>CampaignMember</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>ContactId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference
          >Filter_Generators[$EachItem].ContactId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>CampaignId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>currentItem_Filter_Bots</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Generators</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
